@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.letra_Nav{
    font-family: 'Oswald', sans-serif;
    font-size: xx-large;
}
.nav_Bar{
    background-color: rgba(0, 0, 0, 0.616);
}